.menu {
    background-color: #101010;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.navigation {
    margin-top: 20px;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    display: flex;
}

.navItem {
    font-family: 'PPNeueMontreal';
    margin: 5px 79px;
    width: fit-content;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.navItem:hover {
    letter-spacing: 4px;
    transition: 0.7s;
}

.menuRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    font-size: 41px;
    margin: 69px 79px;
    z-index: 30;
    background: none;
    border: none;
    font-family: 'PPNeueMontreal';
    font-weight: lighter;
    cursor: pointer;
    color: white;
}

.login {
    font-size: 2rem;
    margin: 69px 79px;
    color: white;
    text-decoration: none;
}

.small {
    width: fit-content;
    font-size: 1rem;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}

.underlineHome {
    height: 2px;
    width: 0px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.underlineArtists {
    height: 2px;
    width: 0px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.underlineCategories {
    height: 2px;
    width: 0px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.underlineMycomix {
    height: 2px;
    width: 0px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.item:hover .underlineHome {
    height: 2px;
    width: 265px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.item:hover .underlineArtists {
    height: 2px;
    width: 330px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.item:hover .underlineCategories {
    height: 2px;
    width: 540px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}

.item:hover .underlineMycomix {
    height: 2px;
    width: 420px;
    background-color: white;
    margin-left: 85px;
    transition: 0.7s;
}
