.header {
    height: 200px;
}

.artists {
    font-size: 7rem;
    font-weight: bold;
}

.containerArists {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    color: #101010;
}

.artist {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 100px;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.name {
    margin-top: 20px;
    font-weight: lighter;
}
