.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px 100px;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.comic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comicName {
    margin-top: 10px;
    font-weight: lighter;
}
