.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    mix-blend-mode: exclusion;
}

.comix {
    font-size: 61px;
    font-weight: bold;
    margin: 69px 79px;
}

.menu {
    font-size: 41px;
    margin: 69px 79px;
    background: none;
    border: none;
    font-family: 'PPNeueMontreal';
    font-weight: lighter;
    cursor: pointer;
    color: white;
}

.search {
    position: absolute;
    z-index: 1;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
