.comicImg {
    height: 50px;
}

.container {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 395px;
    justify-content: flex-start;
    color: white;
    padding: 5px 10px;
}
