@font-face {
    font-family: 'PPNeueMontreal';
    src: url('../public/fonts/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('../public/fonts/PPNeueMontreal-Thin.woff') format('woff');
    font-weight: lighter;
}
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('../public/fonts/PPNeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'PPNeueMontreal', Arial, sans-serif;
}
